{
  "contentTypes": [
    "AnalyticsRule",
    "AutomationRule",
    "HuntingQuery",
    "Parser",
    "Playbook",
    "Workbook",
    "ValidDomainsVerticals",
    "AzureFunctionConnectorPermissions",
    "CEFConnectorPermissions",
    "SyslogConnectorPermissions",
    "RestApiDataConnector",
    "SyslogDataConnector",
    "DetectionTemplateSchemaValidation"
  ],
  "deploymentSettings": {
    "validateJson": true,
    "skipInvalidFiles": true,
    "logLevel": "Verbose",
    "smartDeployment": true,
    "sourceControlId": "57e56c8d-49cb-42a5-9757-00213be6aebb",
    "branch": "master"
  },
  "workspaceSettings": {
    "resourceGroupName": "ProductionGroup",
    "workspaceName": "Security",
    "workspaceId": "24f0fdd8-08a9-4088-aa0c-a9851539472b"
  }
} 
